.main-footer-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items:center;
    background-color:rgba(61, 60, 60, 0.281);
    padding-block: 50px;
    p{
        color:bisque;
    }
    h2{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 3rem;
        color:antiquewhite;

    }
    .under-big{
        display: flex;
        gap: 2rem;
        align-items:center;
        padding-inline:1rem;
    }
    .social{
        display: flex;
        gap: 1rem;
        a{
            text-decoration: none;
            color:#b2f366;
            border: 1px solid #b2f366;
            padding-inline: 10px;
            border-radius: 10px
        }
    }
}