html {
  @include getCssVar(font-size);
}

body {
  
  width: 100%;
  @include getCssVar(font-family);
  @include getCssVar(background-color, gray);
  font-size: 1rem;
  // cursor: url(/i/logo.svg), auto;
}

/* .container {
  max-width: 1200px;
  margin: auto;
  padding: 0 12px;
} */
